<h1>Welcome Email</h1>
<p>Hi
    <%= name %>,
</p>
<p>Congratulations, your account has now been setup for Bosch Up, Smart Asset Management </p>
<p>Your Tenant ID for the application is :
    <b>
        <%= tenantId%>
    </b>
</p>
<p>Your User Id for the application is same as your email id :
    <b>
        <%= email %>
    </b>
</p>
<p>Your temporary password is :
    <b>
        <%= password %>
    </b>
</p>
<p>Please
    <a href="http://portal.seam-up.com">login</a> to the application to reset your password and start using the application </p>
<br>
<br>
<center>
    <span style="font-size: 14px">This is an auto generated email. Please do not reply to this mail.</span>
</center>
<center>
    <span style="font-size: 12px">Email Generated @
        <%= new Date().toLocaleDateString() + ' '+new Date().toLocaleTimeString() %>
    </span>
</center>